body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1{
  font-size: 50px;
}

.yellow-color{
  color: rgb(236, 236, 25);
}

section{
  display: flex;
}

.half-width{
  width: 50%;
  padding-left: 2%;
}

.half-width img{
  width: 100%;
}

.email{
  color: blueviolet;
}

.link-button{
  text-decoration: none;
  font-weight: 700;
  color: blueviolet;
  background-color: rgb(236, 236, 25);
  padding: 10px 20px;
  border-radius: 10px;
}

.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}