body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}

.yellow-color{
  color: rgb(236, 236, 25);
}

.flexible-container{
  display: flex;
  margin-bottom: 150px;
}

.half-width{
  width: 50%;
  padding-left: 2%;
}

.half-width img{
  width: 100%;
}

.email{
  color: blueviolet;
}

.link-button{
  text-decoration: none;
  font-weight: 700;
  color: blueviolet;
  background-color: rgb(236, 236, 25);
  padding: 10px 20px;
  border-radius: 10px;
}

.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big-pic{
  max-width: fit-content;
  max-height: fit-content;

}

.dream-big{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience-item{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
}
#exp-youtube{
  border-left: 7px solid;
  border-image: linear-gradient(red, pink);
  border-image-slice: 1;
}

#exp-facebook{
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

.experiance-area{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

footer p{
  text-align: center;
}